body {
  background-color: #0b0b0d;
  -webkit-text-size-adjust: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
}
.user-name {
  color: white;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.registration-date {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
}
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}
.text-code {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.7;
}
.code-container {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 256px;
}
.code-base {
  color: #ffffff;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.code {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.navbar {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 26px 0px;
  display: flex;
  flex-direction: row;
  gap: 72px;
  justify-content: center;
  width: 256px;
}
.user-photo {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .main-container {
    gap: 25vh;
  }
  .user-name {
    font-size: 2.2vh;
  }
  .registration-date {
    font-size: 1.7vh;
  }
  .user-container {
    gap: 1vh;
    margin-top: 8vh;
  }
  .text-code {
    font-size: 2.2vh;
  }
  .code-container {
    border-radius: 3vh;
    padding: 3.5vh 0vh;
    width: 35vh;
  }
  .code-base {
    font-size: 2vh;
  }
  .code {
    gap: 1.3vh;
  }
  .navbar {
    border-radius: 3vh;
    padding: 2vh 0vh;
    gap: 9vh;
    width: 35.2vh;
  }
  .nav-icon {
    width: 3.5vh;
    height: 5vh;
  }
  .user-photo {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  .main-container {
    gap: 25vh;
  }
  .user-name {
    font-size: 2.2vh;
  }
  .registration-date {
    font-size: 1.7vh;
  }
  .user-container {
    gap: 1vh;
    margin-top: 8vh;
  }
  .text-code {
    font-size: 2.2vh;
  }
  .code-container {
    border-radius: 3vh;
    padding: 3.5vh 0vh;
    width: 35vh;
  }
  .code-base {
    font-size: 2.5vh;
  }
  .code {
    gap: 1.3vh;
  }
  .navbar {
    border-radius: 3vh;
    padding: 2vh 0vh;
    gap: 9vh;
    width: 35.2vh;
  }
  .nav-icon {
    width: 3.5vh;
    height: 5vh;
  }
  .user-photo {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    object-fit: cover;
  }
}
