.copy-notification {
  position: fixed;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  padding: 1vh 2vh;
  border-radius: 1vh;
  font-size: 2vh;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2s ease;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
